# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
dist/
out/
build/
coverage/

# VSCode
.vscode/
*.code-workspace

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env files
.env
.env.*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Public (ignora todo public, si tienes assets que sí quieres subir, elimina esta línea y especifica solo subcarpetas)
public/

# Generated
generated/
